/* Add !important to ensure the hover color takes precedence */
.nav-link {
    transition: background-color 0.3s, color 0.3s; /* Add transition effect */
    color: white !important; /* Set initial text color */
}

.nav-link:hover {
    background-color: #ffc107; /* Darker yellow */
    color: black !important; /* Change text color to black on hover */
}

/* Apply nav link styles to the button */
.btn.btn-primary {
    transition: background-color 0.3s, color 0.3s; /* Add transition effect */
    color: white !important; /* Set initial text color */
    background-color: #ffc107; /* Set initial background color */
    border-color: #ffc107; /* Set initial border color */
}

.btn.btn-primary:hover {
    background-color: #ffc107; /* Darker yellow */
    color: black !important; /* Change text color to black on hover */
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.form-control {
    box-shadow: none;
    border-radius: 0.25rem;
}

.btn-primary {
    padding: 10px 20px;
    font-size: 16px;
}

footer {
    margin-top: 20px;
    padding: 20px 0;
}
