.nav-link {
    transition: background-color 0.3s, color 0.3s; 
    color: white !important; 
}

.nav-link:hover {
    background-color: #ffc107; 
    color: black !important; 
}

.btn.btn-primary {
    transition: background-color 0.3s, color 0.3s; 
    color: white !important; 
    background-color: #ffc107; 
    border-color: #ffc107; 
}

.btn.btn-primary:hover {
    background-color: #ffc107; 
    color: black !important; 
}